form {
    width: 300px;
    box-shadow: 0 0 8px 0 rgb(0, 0, 64);
    background: #fff;
    padding: 20px;
    margin: 3% auto 3%;
}

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url(img/pexels-pixabay-531880.jpg);
	background-size: cover;
	background-position: center;
}


.imgcontainer {
  text-align: center;
  margin: 6px 0 3px 0;
}

.imgcontainer h2{
  text-align: center;
  font-family:cursive;
  text-shadow:black;
  color:blue;
  margin-bottom: 30px;
}

img.avatar {
  width: 20%;
  border-radius: 24%;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px;
	margin: 10px 0;
	display: inline-block;
	border: 1px solid #999;
	border-radius: 20px;
	outline: none;
	box-sizing: border-box;
}

button {
	background-color: #04AA6D;
	color: white;
	padding: 6px;
	margin: 10px 0;
	border: none;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

button:hover {
	opacity: 0.8;
}

.signup {
	text-align: center;
	font-family: cursive;
	padding: 7px 10px;
	margin: 4px 0;
}

.container {
	padding: 16px;
}