form {
	border: 3px solid #f1f1f1;
	background-size: 100%;
	box-shadow: 0 0 8px 0 rgb(0, 0, 64);
	background-image: url(img/blue-1273089_1920.jpg);
	background-size: cover;
	background-position: center;
}

input[type=text], input[type=number] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 15px;
	outline: none;
	box-sizing: border-box;
}

body h1 {
	text-align: center;
	font-size: 50px;
	padding: 12px 20px;
	margin: 8px 0;
	color: navy;
	font-family: serif;
}

body p {
	text-align: left;
	color: #400080;
	font-size: 25px;
}

body fieldset legend {
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 8px 0 rgb(0, 0, 64);
	color: #000000;
	font-style: oblique;
	font-family: cursive;
	font-weight:bolder;
	font-size: 23px;
	background-color: transparent;
	padding: 7px 8px;
	margin: 8px 0;
	font-weight: bold;
	margin: 8px 0;
}

body fieldset {
	width: 70%;
	border-radius: 5px;
	box-shadow: 0 0 8px 0 rgb(0, 0, 64);
	background: #ffffae;
	padding: 70px;
	margin: 2% auto 2%;
	border: none;
	outline: none;
}

button {
	background-color: #ff0000;
	color: white;
	padding: 8px 13px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 15px;
	box-sizing: border-box;
	outline: none;
	font-size: 18px;
}

button:hover {
	opacity: 0.8;
}

.header {
	padding: 16px;
}

.container {
	padding: 16px;
	color: #400080;
	font-size: 25px;
}

.link {
	text-align: justify;
	font-family: cursive;
	background-color: transparent;
	color: white;
	cursor: pointer;
}